.draw{

    margin-top: 35px;

    &__container{
        height: 50vh;
        border-radius: 20px;
        background-color: #fff;
        padding: 30px;
    }

    &__name{
        color: @tomato;
        font-size: 19px;
        line-height: 1.21053;
        font-weight: 600;
        letter-spacing: .012em;
    }
}